body {
    font-family: 'Comic Sans MS', 'Comic Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f8cdda, #1c92d2);
    margin: 0;
    color: #333;
}

.game-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 450px;
    height: 450px; /* Adjusted height to fit all screens */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center the content horizontally */
}

h1, h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #1c92d2;
}

.button-container, .round-button {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the buttons */
}

.game-button, .round-button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #1c92d2;
    color: #fff;
    transition: transform 0.2s, background-color 0.2s;
}

.game-button:hover, .round-button:hover {
    background-color: #f8cdda;
    transform: scale(1.1);
}

#result, #final-result {
    margin-top: 20px;
    font-size: 18px;
}

#next-button {
    margin-top: 20px;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #1c92d2;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    
    /* Center the button */
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#next-button:hover {
    background-color: #f8cdda;
    transform: scale(1.1);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #1c92d2;
    color: #fff;
    transition: transform 0.2s, background-color 0.2s;
}

button:hover {
    background-color: #f8cdda;
    transform: scale(1.1);
}

